img {
  max-width: 100%;
  display: block
}

button,
input {
  border-radius: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

:focus {
  outline: transparent;
}