@import './base/modern-normalize';
@import './base/default-styles';

@import './utils/variables';
@import './utils/mixins';

@import './components/common';
@import './components/header';
@import './components/hero';
@import './components/advantages';
@import './components/problems';
@import './components/how';
@import './components/program';
@import './components/benefits';
@import './components/about';
@import './components/guarantee';
@import './components/reviews';
@import './components/contacts';
@import './components/footer';

@import './example';
