//variable color

$black: #000000;
$white: #ffffff;
$orange: #FF6B09;
$blackLighter: #111518;
$grey: #B9B9B9;
$validationError: red;
$bgColorListSectionGuarantee: #F1F1F1;
$bgMobileModalMenu: rgba(17, 21, 24, 0.9);

//font-family variable

$ffMedium: 'Montserrat-Medium';
$ffBold: 'Montserrat-Bold';
$ffExtraBold: 'Montserrat-ExtraBold';
$ffSemiBold: 'Montserrat-SemiBold';

$ffRegular: 'Montserrat-Regular';
$ffThin:'Montserrat-Thin';
$ffExtraLightItalic: 'Montserrat-ExtraLightItalic';
$ffMediumItalic: 'Montserrat-MediumItalic';
$ffLightItalic: 'Montserrat-LightItalic';
$ffExtraLight: 'Montserrat-ExtraLight';
$ffSemiBoldItalic: 'Montserrat-SemiBoldItalic';
$ffThinItalic: 'Montserrat-ThinItalic';
$ffLight: 'Montserrat-Light';
$ffBlackItalic: 'Montserrat-BlackItalic';
$ffItalic: 'Montserrat-Italic';
$ffBlack: 'Montserrat-Black';
$ffExtraBoldItalic: 'Montserrat-ExtraBoldItalic';



//box shadow
$problemListShadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

// shadow for elements list section How We Do and slide section reviews
$elementListShadow: 0px 8px 26px rgba(0, 0, 0, 0.1);