<section class="section about--section" id="about">
    <div class="container about__container">
        <h3 class="section-about__title">Преподаватель</h3>
    <div class="about__description">
        <picture class="picture__item" >
            <source  srcset="./images/elena1x.webp 1x, ./images/elena2x.webp 2x" type="image/webp" />
            <source srcset="./images/elena1x.png 1x, ./images/elena2x.png 2x" type="image/jpeg" />
            <img class="about-list__images" src="./images/elena1x.png" alt="teacher"  />
        </picture>
        <div class="blok-about__description">
            <h4 class="teacher_title"> Елена Морева </h4>
            <ul class="about__list">
            <li class="about__item">
                <p class="teacher__description">
                    Опыт подготовки учеников к ВНО - 6 лет
                </p>
            </li>

            <li class="about__item">
                <p class="teacher__description">
                    Собственный результат сдачи ВНО - 197 <br> баллов 2 года подряд
                </p>
            </li>
            <li class="about__item">
                <p class="teacher__description">
                    Сдала на отлично международный аналог ВНО - Кембриджский PET (Preliminary English Test)
                </p>
            </li>
            </ul>

                <p class="about-description__title">
                    Высшее образование получила в Институте международных отношений НАУ по специальности
                    переводчик-аналитик.
                </p>
                <p class="about-description__title">
                    В свободное время проходит курсы от лучших университетов мира по эффективному преподаванию и
                    методикам написания
                    сочинений.
                </p>
                <p class="about-description__title">
                    В числе пройденных: English Grammar and Essay Writing (Berkeley), English Grammar&Style (The
                    University of Queesland),
                    How to Write an Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of Teaching
                    (GEMS education),
                    Powerful Tools for Teaching and Learning (University of Houston).
                </p>
                <a class="about__link" href="#"> Cambrige English Entry Level Certificate </a>
            </div>
        </div>
    </div>
</section>