<section class="advantages">
    <div class="container">
        <h2 class="advantages__title">Преимущества!</h2>
        <ul class="advantages__list ">
            <li class="advantages__item advantages__item--decor1">
                <h3 class="advantages__text">Адаптированная авторская
                    программа ВНО</h3>
            </li>

            <li class="advantages__item advantages__item--decor2">
                <h3 class="advantages__text">Современные
                    методики обучения
                </h3>
            </li>

            <li class="advantages__item advantages__item--decor3">
                <h3 class="advantages__text ">Финансовая гарантия
                    результата</h3>
            </li>
        </ul>
    </div>
</section>