<section class="section contacts--section" id="contacts">
  <div class="container contacts__container">
    <h2 class="contacts__title">
      Регистрация на <span class="contacts__orange-text">бесплатную</span> телефонную
      <span class="contacts__orange-text">консультацию</span>
      по нюансам ЗНО по английскому языку
    </h2>
    <p class="contacts__text">
      Оставь заявку на участие в <span class="contacts__orange-text">бесплатном занятии.</span>
      <br />
      С вами свяжется консультант и ответит на вопросы
    </p>
    <form class="contacts-form">
      <label class="contacts-form__label">
        <input
          class="contacts-form__input contacts-form__input-name"
          type="text"
          name="name"
          placeholder="Имя*"
          pattern="[A-Za-zА-Яа-яЁёІіЇїЄє' ]{1,25}"
        />
      </label>
      <label class="contacts-form__label">
        <input
          class="contacts-form__input contacts-form__input-phone"
          type="tel"
          name="phone"
          placeholder="Телефон*"
          pattern="[?+0-9]{10,15}"
        />
      </label>
    </form>
    <button class="contacts-form__button button" type="submit">хочу на бесплатное занятие</button>
  </div>
</section>
