<section class="section contacts--section">
  <div class="container contacts__container">
    <h2 class="contacts__title">
      Регистрация на <span class="contacts__orange-text">бесплатную</span> телефонную
      <span class="contacts__orange-text">консультацию</span>
      по нюансам ЗНО по английскому языку
    </h2>
    <p class="contacts__text">
      Оставь заявку на участие в <span class="contacts__orange-text">бесплатном занятии.</span> С
      вами свяжется консультант и ответит на вопросы
    </p>
    <form class="contacts-form">
      <label class="contacts-form__label">
        <span class="contacts-form__name">Имя*</span>
        <input class="contacts-form__input" type="text" name="name" />
      </label>
      <label class="contacts-form__label">
        <span class="contacts-form__name">Телефон*</span>
        <input class="contacts-form__input" type="tel" name="phone" />
      </label>
    </form>
    <button class="contacts-form__button" type="submit">хочу на бесплатное занятие</button>
  </div>
</section>
