<footer class="footer">

    <div class="footer__contacts">
        <div class="container container--position">

            <a  class="footer__logo" href="./index.html">
                <img src="./images/logo.svg" alt="логотип"/></a>
        <ul class="contacts__list">
            <li class="contacts__item">
                <a class="contacts__tel" href="tel:+380000000000">
                    <svg class="icon-phone"  width="20px" height="20px">
                        <use href="./images/icon-sprite.svg#icon-phone">
                        </use>
                    </svg> +38 (000) 000 00 00 </a>
            </li>
            <li class="contacts__item contacts__item--border">
                <a class="contacts__link" href="#" alt="istagram" target="_blank"> 
                <!-- <span class="icon-inst"></span> -->
            </a>
        </li>
        </ul>
        </div>
    </div>

    <div class="copyright">
        <div class="container">

            <span class="copyright__text">&#64; Все права защищены, 2019</span>
        </div>
    </div>


</footer>