<header class="header">
  <div class="container header__container">
    <nav class="header__nav">
      <a class="header__link-logo" href="./index.html">
        <img class="header__logo" src="./images/logo.svg" alt="" />
      </a>
      <div class="header__wrapper-links">
        <ul class="header__list-links">
          <li class="header__list-item">
            <a class="header__link-list" href="#">Программы обучения</a>
          </li>
          <li class="header__list-item">
            <a class="header__link-list" href="#">О нас</a>
          </li>
          <li class="header__list-item">
            <a class="header__link-list" href="#">Варианты обучения</a>
          </li>
          <li class="header__list-item">
            <a class="header__link-list" href="#">Контакты</a>
          </li>
        </ul>
        <button class="button header__button">Консультация по телефону</button>
        <button class="header__toggle-menu">
          <span class="header__burger"></span>
        </button>
      </div>
    </nav>
  </div>
</header>
