<header>
  <div class="container">
    <nav>
      <a href="./index.html">
        <img src="./images/logo.svg" alt="" />
      </a>
      <ul>
        <li>
          <a href="#">Программы обучения</a>
        </li>
        <li>
          <a href="#">О нас</a>
        </li>
        <li>
          <a href="#">Варианты обучения</a>
        </li>
        <li>
          <a href="#">Контакты</a>
        </li>
      </ul>
      <button>Консультация по телефону</button>
      <button class="header__toggle-menu">
        <span class="header__burger"></span>
      </button>
    </nav>
  </div>
</header>
