<section class="hero">
  <!-- <div class="hero__bg-wave"></div> -->

  <div class="container hero__container">
    <div class="hero__wrapper-content">
      <h1 class="hero__title">
        Комплексная <br />
        подготовка к ВНО <br />
        по английскому языку
      </h1>
      <p class="hero__text">Просто не будет.</p>
      <p class="hero__text hero__text--garant">Но ты гарантировано наберешь</p>
      <p class="hero__text hero__text--point">+25 баллов</p>

      <button class="button hero__button">хочу на бесплатное занятие</button>
    </div>
    <div class="hero__thumb">
      <picture>
        <source srcset="./images/hero-1x.webp 1x, ./images/hero-2x.webp 2x" type="image/webp" />
        <source srcset="./images/hero-1x.png 1x, ./images/hero-2x.png 2x" type="image/png" />
        <img class="hero__image" src="./images/hero-1x.png" alt="hero" />
      </picture>
    </div>
  </div>
</section>
