<div class="modal-menu js-menu-container" id="mobile-menu">
  <div class="container">
    <div class="modal-menu__top-line">
      <a class="header__link-logo" href="./index.html">
        <img class="header__logo" src="./images/logo-popup.svg" alt="" />
      </a>
      <button
        class="modal-menu__close-btn js-close-menu"
        aria-label="кнопка закрытия модального меню"
      >
        <span class="modal-menu__close"></span>
      </button>
    </div>

    <div class="modal-menu__nav-wrapper">
      <ul class="modal-menu__nav">
        <li class="modal-menu__nav-item">
          <a href="./index.html" class="modal-menu__page-link modal-menu__page-link--current">
            Программа обучения</a
          >
        </li>
        <li class="modal-menu__nav-item">
          <a href="#" class="modal-menu__page-link"> О нас</a>
        </li>
        <li class="modal-menu__nav-item">
          <a href="#" class="modal-menu__page-link">Варианты обучения</a>
        </li>
        <li class="modal-menu__nav-item">
          <a href="#" class="modal-menu__page-link">Конакты</a>
        </li>
      </ul>
    </div>

    <button class="button modal-menu__button">Консультация по телефону</button>
  </div>
</div>
