<section class="problems">
  <div class="container container--problems">
    <div class="text-container">
      <h2 class="problems-title">
        Главные проблемы учеников на English ВНО, которые мы
        <span class="problems-title__text">помогаем</span> решить
      </h2>
    </div>

    <div class="problems-list-container">
      <ul class="problems-list">
        <li class="problems-list__item">Название грамматики</li>
        <li class="problems-list__item">Неумение вомпринимать устную английскую речь</li>
        <li class="problems-list__item">Скупой словарный запас для написани сочинения</li>
        <li class="problems-list__item">Поодготовка в одиночку</li>
        <li class="problems-list__item">Отсутствие единого ресурса знаний</li>
        <li class="problems-list__item">Недостатой самоорганизации и лень</li>
      </ul>
    </div>
  </div>
</section>
