<section class="program">
  <div class="container">
    <h2 class="program__title">Наша программа</h2>
  </div>
  <ul class="program__semester-list semester-list">
    <li class="semester-list__item">
      1 семестр
      <ul class="semester-list__skills-list skills-list">
        <li class="skills-list__item">
          — Grammar
          <ul class="skills-list__topics-list topics list">
            <li class="topics-list__item">Nouns & Articles</li>
            <li class="topics-list__item">Adjectives & Adverb</li>
          </ul>
        </li>
        <li class="skills-list__item">
          — Vocabulary
          <ul class="skills-list__topics-list topics-list">
            <li class="topics-list__item">Family & Relations</li>
            <li class="topics-list__item">People & Society</li>
          </ul>
        </li>
      </ul>
    </li>

    <li class="semester-list__item">
      2 семестр
      <ul class="semester-list__skills-list skills-list">
        <li class="skills-list__item">
          — Grammar
          <ul class="skills-list__topics-list topics-list">
            <li class="topics-list__item">Pronouns</li>
            <li class="topics-list__item">Active Voice</li>
            <li class="topics-list__item">Passive Voice</li>
          </ul>
        </li>
        <li class="skills-list__item">
          — Vocabulary
          <ul class="skills-list__topics-list topics-list">
            <li class="topics-list__item">Home</li>
            <li class="topics-list__item">School</li>
            <li class="topics-list__item">Work</li>
          </ul>
        </li>
      </ul>
    </li>

    <li class="semester-list__item">
      3 семестр
      <ul class="semester-list__skills-list skills-list"></ul>
    </li>
  </ul>
</section>
