<section class="program">
  <div class="container">
    <h2 class="program__title">Наша программа</h2>
  </div>
  <ul class="program__semester-list semester-list">
    <li class="semester-list__item">
      1 семестр
      <ul class="semester-list__skills-list skills-list">
        <li class="skills-list__item">
          — Grammar
          <ul class="skills-list__topics-list topics list">
            <li class="topics-list__item">Nouns & Articles</li>
            <li class="topics-list__item">Adjectives & Adverb</li>
          </ul>
        </li>
        <li class="skills-list__item">
          — Vocabulary
          <ul class="skills-list__topics-list topics-list">
            <li class="topics-list__item">Family & Relations</li>
            <li class="topics-list__item">People & Society</li>
          </ul>
        </li>
      </ul>
    </li>

    <li class="semester-list__item">
      2 семестр
      <ul class="semester-list__skills-list skills-list">
        <li class="skills-list__item">
          — Grammar
          <ul class="skills-list__topics-list topics-list">
            <li class="topics-list__item">Pronouns</li>
            <li class="topics-list__item">Active Voice</li>
            <li class="topics-list__item">Passive Voice</li>
          </ul>
        </li>
        <li class="skills-list__item">
          — Vocabulary
          <ul class="skills-list__topics-list topics-list">
            <li class="topics-list__item">Home</li>
            <li class="topics-list__item">School</li>
            <li class="topics-list__item">Work</li>
          </ul>
        </li>
      </ul>
    </li>

    <li class="semester-list__item">
      3 семестр
      <ul class="semester-list__skills-list skills-list">
        <li class="skill-list__item">
          — Grammar
          <ul class="skill-list__topics-list topicks-list">
            <li class="topics-list__item">Modal verbs</li>
            <li class="topics-list__item">Infinitive</li>
            <li class="topics-list__item">Gerund</li>
            <li class="topics-list__item">Participle: 1, 2</li>
          </ul>
        </li>
        <li class="skill-list__item">
          — Vocabulary
          <ul class="skill-list__topics-list topicks-list">
            <li class="topics-list__item">Travel & Tourism</li>
            <li class="topics-list__item">Culture & Free Time</li>
            <li class="topics-list__item">Sport</li>
          </ul>
        </li>
        <li class="skill-list__item">
          — Writing
          <ul class="skill-list__topics-list topicks-list">
            <li class="topics-list__item">Informal Letter</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="semester-list__item">
      4 семестр
      <ul class="semester-list__skills-list skills-list">
        <li class="skill-list__item">
          — Grammar
          <ul class="skill-list__topics-list topicks-list">
            <li class="topics-list__item">Clauses: Conditional and Wishes</li>
            <li class="topics-list__item">Direct / Reported speech</li>
            <li class="topics-list__item">Preposition</li>
            <li class="topics-list__item">Conjunction</li>
            <li class="topics-list__item">Numeral</li>
          </ul>
        </li>
        <li class="skill-list__item">
          — Vocabulary
          <ul class="skill-list__topics-list topicks-list">
            <li class="topics-list__item">Healthy Living</li>
            <li class="topics-list__item">Nature & Environment</li>
            <li class="topics-list__item">Money</li>
          </ul>
        </li>
        <li class="skill-list__item">
          — Writing
          <ul class="skill-list__topics-list topicks-list">
            <li class="topics-list__item">Formal Letter</li>
          </ul>
        </li>
      </ul>
    </li>

    <li class="semester-list__item">
      5 семестр
      <ul class="semester-list__skills-list skills-list">
        <li class="skill-list__item">
          —
          <ul class="skill-list__topics-list topicks-list">
            <li class="topics-list__item">Revision</li>
            <li class="topics-list__item">Tests</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</section>
