<section class='reviews'>
  <div class='container'>
    <h2 class='reviews__main-title'>Отзывы выпускников</h2>
    <div class="swiper-container main-slider">
      <ul class='reviews__list-items slider swiper-wrapper'>
        <li class='reviews__item swiper-slide slide'>
          <div class='reviews__image-container'>
            <img class='slide__image' src='./images/review1.png' alt='Тоня Кучеровская' width='150'>
          </div>
          <a class='slide__link' href='#' target='_blank'>
            <svg class="reviews__icon" width="30" height="17">
              <use href="./images/icon-sprite.svg#icon-vk">
              </use>
            </svg>
          </a>
          <div class='reviews__text-content'>
            <h3 class='reviews__item-title'>Тоня Кучеровская</h3>
            <p class='reviews__short-description'>Выпуск 2015-го года,  Національний університет біоресурсів
                                                  і природокористування України</p>
            <p class='reviews__description'>За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен ...
              <a class='reviews__item-link' href='#'>Читать дальше </a>
            </p>
          </div>
        </li>
        <li class='reviews__item swiper-slide'>
          <div class='reviews__image-container'>
            <img src='./images/review2.png' alt='Тоня Кучеровская' width='150'>
          </div>
          <a class='slide__link' href='#' target='_blank'>
            <svg class="reviews__icon" width="30" height="17">
              <use href="./images/icon-sprite.svg#icon-vk">
              </use>
            </svg>
          </a>
          <div class='reviews__text-content'>
            <h3 class='reviews__item-title'>Тоня Кучеровская</h3>
            <p class='reviews__short-description'>Выпуск 2015-го года,  Національний університет біоресурсів
                                                  і природокористування України</p>
            <p class='reviews__description'>За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен ...
              <a class='reviews__item-link' href='#'>Читать дальше </a>
            </p>
          </div>
        </li>
        <li class='reviews__item swiper-slide'>
          <div class='reviews__image-container'>
            <img src='./images/review3.png' alt='Тоня Кучеровская' width='150'>
          </div>
          <a class='slide__link' href='#' target='_blank'>
            <svg class="reviews__icon" width="30" height="17">
              <use href="./images/icon-sprite.svg#icon-vk">
              </use>
            </svg>
          </a>
          <div class='reviews__text-content'>
            <h3 class='reviews__item-title'>Тоня Кучеровская</h3>
            <p class='reviews__short-description'>Выпуск 2015-го года,  Національний університет біоресурсів
                                                  і природокористування України</p>
            <p class='reviews__description'>За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен ...
              <a class='reviews__item-link' href='#'>Читать дальше </a>
            </p>
          </div>
        </li>
        <li class='reviews__item swiper-slide'>
          <div class='reviews__image-container'>
            <img src='./images/review4.png' alt='Тоня Кучеровская' width='150'>
          </div>
          <a class='slide__link' href='#' target='_blank'>
            <svg class="reviews__icon" width="30" height="17">
              <use href="./images/icon-sprite.svg#icon-vk">
              </use>
            </svg>
          </a>
          <div class='reviews__text-content'>
            <h3 class='reviews__item-title'>Тоня Кучеровская</h3>
            <p class='reviews__short-description'>Выпуск 2015-го года,  Національний університет біоресурсів
                                                  і природокористування України</p>
            <p class='reviews__description'>За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен ...
              <a class='reviews__item-link' href='#'>Читать дальше </a>
            </p>
          </div>
        </li>
        <li class='reviews__item swiper-slide'>
          <div class='reviews__image-container'>
            <img src='./images/review5.png' alt='Тоня Кучеровская' width='150'>
          </div>
          <a class='slide__link' href='#' target='_blank'>
            <svg class="reviews__icon" width="30" height="17">
              <use href="./images/icon-sprite.svg#icon-vk">
              </use>
            </svg>
          </a>
          <div class='reviews__text-content'>
            <h3 class='reviews__item-title'>Тоня Кучеровская</h3>
            <p class='reviews__short-description'>Выпуск 2015-го года,  Національний університет біоресурсів
                                                  і природокористування України</p>
            <p class='reviews__description'>За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен ...
              <a class='reviews__item-link' href='#'>Читать дальше </a>
            </p>
          </div>
        </li>
        <li class='reviews__item swiper-slide'>
          <div class='reviews__image-container'>
            <img src='./images/review6.png' alt='Тоня Кучеровская' width='150'>
          </div>
          <a class='slide__link' href='#' target='_blank'>
            <svg class="reviews__icon" width="30" height="17">
              <use href="./images/icon-sprite.svg#icon-vk">
              </use>
            </svg>
          </a>
          <div class='reviews__text-content'>
            <h3 class='reviews__item-title'>Тоня Кучеровская</h3>
            <p class='reviews__short-description'>Выпуск 2015-го года,  Національний університет біоресурсів
                                                  і природокористування України</p>
            <p class='reviews__description'>За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен ...
              <a class='reviews__item-link' href='#'>Читать дальше </a>
            </p>
          </div>
        </li>
        <li class='reviews__item swiper-slide'>
          <div class='reviews__image-container'>
            <img src='./images/review7.png' alt='Тоня Кучеровская' width='150'>
          </div>
          <a class='slide__link' href='#' target='_blank'>
            <svg class="reviews__icon" width="30" height="17">
              <use href="./images/icon-sprite.svg#icon-vk">
              </use>
            </svg>
          </a>
          <div class='reviews__text-content'>
            <h3 class='reviews__item-title'>Тоня Кучеровская</h3>
            <p class='reviews__short-description'>Выпуск 2015-го года,  Національний університет біоресурсів
                                                  і природокористування України</p>
            <p class='reviews__description'>За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен ...
              <a class='reviews__item-link' href='#'>Читать дальше </a>
            </p>
          </div>
        </li>
      </ul>

    </div>
    <div class='pagination-container'>
      <div class="swiper-container pagination-slider">
        <ul class='reviews__bullets pagination swiper-wrapper'>
        <li class='pagination__item swiper-slide'><img src='./images/review1.png' alt='Тоня Кучеровская' width='54'></li>
        <li class='pagination__item swiper-slide'><img src='./images/review2.png' alt='Тоня Кучеровская' width='54'></li>
        <li class='pagination__item swiper-slide'><img src='./images/review3.png' alt='Тоня Кучеровская' width='54'></li>
        <li class='pagination__item swiper-slide'><img src='./images/review4.png' alt='Тоня Кучеровская' width='54'></li>
        <li class='pagination__item swiper-slide'><img src='./images/review5.png' alt='Тоня Кучеровская' width='54'></li>
        <li class='pagination__item swiper-slide'><img src='./images/review6.png' alt='Тоня Кучеровская' width='54'></li>
        <li class='pagination__item swiper-slide'><img src='./images/review7.png' alt='Тоня Кучеровская' width='54'></li>
      </ul>
      </div>
      <div class='arrows-container'>
          <!-- Add Arrows -->
          <div class="swiper-button-next">
            <svg class="swiper-button-next__icon" width="25" height="17">
              <use xlink:href="./images/icon-sprite.svg#icon-next">
              </use>
            </svg>
          </div>
          <div class="swiper-button-prev">
            <svg class="swiper-button-next__icon" width="25" height="17">
              <use xlink:href="./images/icon-sprite.svg#icon-prev">
              </use>
            </svg>
          </div>
        </div>
    </div>
  </div>
</section>