.benefits {
  position: relative;
  z-index: 2;
  margin-top: -505px;

  @include tablet {
    margin-top: -203px;
  }

  @include desktop {
    margin-top: -187px;
  }
}

.benefits__list-wrapper {
  margin: 0 auto;

  padding: 0 30px 20px;
  width: 100%;
  // max-width: 280px;

  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

  @include beforeTablet {
    background-image: linear-gradient(to bottom, transparent 80px, $white 80px);
  }

  @include tablet {
    max-width: 100%;
    padding: 0 118px 25px 98px;
  }

  @include betweenTabDesk {
    background-image: linear-gradient(to bottom, transparent 62px, $white 62px);
  }

  @include desktop {
    padding: 113px 82px 70px 84px;
    background-color: $white;
  }
}

.benefits__title {
  margin-left: -30px;
  margin-bottom: 83px;
  width: 180px;

  color: $white;
  text-align: left;

  @include tablet {
    width: 100%;
    text-align: center;
    margin-bottom: 93px;
    margin-left: 0;
  }

  @include desktop {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.benefits__list {
  margin: 0;
  padding: 0;
  counter-reset: benefits;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    margin-left: -20px;
    margin-top: -63px;
  }

  @include desktop {
    margin-left: -40px;
    margin-top: -75px;
  }
}

.benefits__item {
  position: relative;

  font-family: $ffBold;
  font-size: 14px;
  line-height: 1.429;
  letter-spacing: 0.08em;
  color: $blackLighter;

  &:not(:last-child) {
    margin-bottom: 53px;

    @include tablet {
      margin-bottom: 0;
    }
  }

  &::before {
    position: absolute;
    counter-increment: benefits;
    content: '— ' counter(benefits, decimal-leading-zero);
    color: $orange;
    top: -30px;

    @include desktop {
      top: -43px;
    }
  }

  @include tablet {
    flex-basis: calc(100% / 2 - 20px);
    margin-left: 20px;
    margin-top: 63px;
  }

  @include desktop {
    flex-basis: calc(100% / 3 - 40px);
    margin-left: 40px;
    margin-top: 75px;
    font-size: 20px;
    line-height: 1.4;
  }
}
