.contacts--section {
  background-color: $blackLighter;
  background-image: url(../images/contacts_img768.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 82.5%;
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
  filter: drop-shadow(0 4px 4px rbga(0, 0, 0, 0.25));

  @include background_img_resolution {
    background-image: url(../images/contacts_img768@2x.png);
  }

  @include tablet {
    padding-bottom: 71px;
    background-position: center;
    height: 520px;
  }

  @include desktop {
    // position: relative;
    padding-top: 100px;
    padding-bottom: 62px;
    height: 840px;
  }
}

.contacts__title {
  font-family: $ffExtraBold;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.03em;
  color: $white;
  margin-bottom: 30px;
  text-align: center;

  @include tablet {
    font-size: 26px;
    line-height: 1.3;
    max-width: 688px;
  }

  @include desktop {
    // font-family: $ffExtraBold;
    font-size: 46px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    max-width: 1090px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }
}

.contacts__text {
  font-family: $ffSemiBold;
  font-size: 12px;
  line-height: 1.219;
  letter-spacing: 0.08em;
  color: $white;
  margin-bottom: 30px;
  text-align: center;

  @include tablet {
    font-size: 14px;
    margin-bottom: 40px;
  }

  @include desktop {
    font-size: 30px;
    letter-spacing: 0.03em;
    margin-bottom: 56px;
  }
}

.contacts__orange-text {
  color: $orange;
}

.contacts-form {
  display: flex;
  flex-direction: column;
}

.contacts-form__label {
  position: relative;
  width: 100%;
  max-width: 390px;
  margin: 0 auto;

  @include desktop {
    min-width: 478px;
    height: 70px;
  }
}

.contacts-form__label:not(:last-child) {
  margin-bottom: 20px;

  @include desktop {
    margin-bottom: 30px;
  }
}

.contacts-form__label:last-child {
  margin-bottom: 50px;

  @include tablet {
    margin-bottom: 31px;
  }

  @include desktop {
    margin-bottom: 80px;
  }
}

// .contacts-form__name {
//   position: absolute;
//   $ffSemiBold: 'Montserrat-SemiBold';
//   font-size: 14px;
//   line-height: 1.219;
//   letter-spacing: 00.08em;
//   color: $white;
// }

.contacts-form__input {
  position: relative;
  display: block;
  width: 100%;
  height: 48px;
  background-color: transparent;
  border: 1px solid $white;
  color: $white;
  padding-left: 28px;
  padding-right: 28px;
  font-family: $ffSemiBold;
  font-size: 14px;
  line-height: 1.219;
  letter-spacing: 0.08em;
  color: $white;

  &::placeholder {
    font-family: $ffSemiBold;
    font-size: 14px;
    line-height: 1.219;
    letter-spacing: 0.08em;
    color: $white;

    @include desktop {
      font-size: 20px;
    }
  }

  @include desktop {
    width: 478px;
    height: 70px;
    font-size: 20px;
  }
}

.contacts-form__button {
  display: block;
  margin: 0 auto;
  //   width: 260px;
  height: 48px;
  background-color: $orange;
  color: $white;
  border: none;
  padding: 14px 10px;
  text-transform: uppercase;
  font-family: $ffBold;
  font-size: 12px;
  line-height: 1.219;
  letter-spacing: 0.08em;
  cursor: pointer;

  @include desktop {
    width: 354px;
    height: 70px;
    font-size: 14px;
    letter-spacing: 0.14em;
  }
}
