.copyright {
  font-family: 'Montserrat-Medium';
  font-size: 14px;
  line-height: 28px;
  background-color: $bgMobileModalMenu;
  padding: 22px 0;
  color: rgba(185, 185, 185, 1);
}

.footer {
  padding-top: 30px;
}

// .icon-inst {
//   background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M39.315 7.155a7.283 7.283 0 00-6.47-6.47 120.815 120.815 0 00-25.69 0 7.283 7.283 0 00-6.47 6.47 120.815 120.815 0 000 25.69 7.283 7.283 0 006.47 6.47c8.555.913 17.135.913 25.69 0a7.283 7.283 0 006.47-6.47c.913-8.555.913-17.135 0-25.69z' fill='url(%23paint0_radial)'/%3E%3Cpath d='M37.14 8.601a6.463 6.463 0 00-5.741-5.741 107.25 107.25 0 00-22.798 0A6.464 6.464 0 002.861 8.6c-.81 7.592-.81 15.206 0 22.797A6.463 6.463 0 008.6 37.14c7.592.81 15.206.81 22.797 0a6.463 6.463 0 005.742-5.74c.81-7.592.81-15.206 0-22.798z' fill='url(%23paint1_linear)'/%3E%3Cpath d='M.6 32.016c.027.277.055.553.085.83a7.283 7.283 0 006.47 6.47c8.555.912 17.136.912 25.69 0a7.283 7.283 0 006.47-6.47c.03-.277.058-.553.086-.83H.599z' fill='url(%23paint2_linear)'/%3E%3Cpath d='M39.315 32.845c.49-4.597.717-9.2.68-13.804l-9.142-9.143C29.71 8.594 28.042 7.78 26.08 7.709a172.25 172.25 0 00-12.108 0c-3.349.116-5.69 2.367-6.291 5.675-.106.585-.17 1.176-.253 1.765v9.699c.046.314.114.627.135.943.134 2.012.961 3.736 2.285 4.902l9.304 9.304c4.567.032 9.133-.195 13.693-.682a7.283 7.283 0 006.47-6.47z' fill='url(%23paint3_linear)'/%3E%3Cpath d='M39.315 32.846a7.283 7.283 0 01-6.47 6.47c-4.559.486-9.126.713-13.691.681l-9.29-9.29c1.077.943 2.48 1.517 4.11 1.578 4.03.152 8.076.148 12.107.002 3.647-.132 6.285-2.83 6.4-6.476a185.56 185.56 0 000-11.625c-.053-1.682-.643-3.162-1.622-4.282l9.137 9.137c.036 4.603-.19 9.208-.68 13.805z' fill='url(%23paint4_linear)'/%3E%3Cpath d='M24.72 15.669a6.407 6.407 0 10-9.051 9.051l14.823 14.823c.785-.068 1.57-.144 2.353-.228a7.284 7.284 0 006.47-6.47c.084-.784.16-1.568.228-2.353L24.72 15.67z' fill='url(%23paint5_linear)'/%3E%3Cpath d='M39.922 24.309l-11.93-11.93a1.524 1.524 0 10-2.133 2.133l13.85 13.851c.094-1.35.165-2.703.213-4.054z' fill='url(%23paint6_linear)'/%3E%3Cpath d='M7.429 15.149c.083-.589.147-1.18.253-1.764.6-3.309 2.942-5.56 6.291-5.675a172.25 172.25 0 0112.108 0c3.646.13 6.285 2.83 6.4 6.476a186.03 186.03 0 010 11.624c-.115 3.647-2.754 6.345-6.4 6.477-4.03.145-8.076.149-12.108-.002-3.645-.137-6.165-2.842-6.41-6.494-.02-.316-.088-.63-.134-.944V15.15zm12.574 14.977c1.845 0 3.692.055 5.535-.013 2.89-.107 4.666-1.831 4.734-4.718.083-3.596.083-7.197 0-10.794-.068-2.886-1.846-4.65-4.734-4.712a261.253 261.253 0 00-11 0c-2.866.06-4.648 1.789-4.726 4.643-.1 3.642-.1 7.29 0 10.932.078 2.854 1.86 4.543 4.726 4.649 1.82.068 3.643.013 5.465.013z' fill='url(%23paint7_linear)'/%3E%3Cpath d='M7.429 15.149c.083-.589.147-1.18.253-1.764.6-3.309 2.942-5.56 6.291-5.675a172.25 172.25 0 0112.108 0c3.646.13 6.285 2.83 6.4 6.476a186.03 186.03 0 010 11.624c-.115 3.647-2.754 6.345-6.4 6.477-4.03.145-8.076.149-12.108-.002-3.645-.137-6.165-2.842-6.41-6.494-.02-.316-.088-.63-.134-.944V15.15zm12.574 14.977c1.845 0 3.692.055 5.535-.013 2.89-.107 4.666-1.831 4.734-4.718.083-3.596.083-7.197 0-10.794-.068-2.886-1.846-4.65-4.734-4.712a261.253 261.253 0 00-11 0c-2.866.06-4.648 1.789-4.726 4.643-.1 3.642-.1 7.29 0 10.932.078 2.854 1.86 4.543 4.726 4.649 1.82.068 3.643.013 5.465.013z' fill='%23fff'/%3E%3Cpath d='M20 13.593a6.407 6.407 0 100 12.814 6.407 6.407 0 000-12.814zm0 10.608a4.2 4.2 0 110-8.402 4.2 4.2 0 010 8.402zM28.305 13.301a1.524 1.524 0 11-3.048 0 1.524 1.524 0 013.048 0z' fill='%23fff'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint1_linear' x1='15.342' y1='17.379' x2='-52.423' y2='-20.738' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23A1B5D8' stop-opacity='0'/%3E%3Cstop offset='.309' stop-color='%2390A2BD' stop-opacity='.31'/%3E%3Cstop offset='.755' stop-color='%237C8B9C' stop-opacity='.757'/%3E%3Cstop offset='1' stop-color='%23748290'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear' x1='20' y1='35.31' x2='20' y2='41.545' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FAE100' stop-opacity='0'/%3E%3Cstop offset='.307' stop-color='%23FCA800' stop-opacity='.306'/%3E%3Cstop offset='.627' stop-color='%23FE7300' stop-opacity='.627'/%3E%3Cstop offset='.869' stop-color='%23FF5200' stop-opacity='.867'/%3E%3Cstop offset='1' stop-color='%23FF4500'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear' x1='17.724' y1='17.668' x2='7.825' y2='7.769' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23833AB4' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23833AB4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint4_linear' x1='27.414' y1='36.585' x2='22.473' y2='13.292' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23833AB4' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23833AB4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint5_linear' x1='29.294' y1='29.294' x2='9.449' y2='9.449' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23833AB4' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23833AB4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint6_linear' x1='30.766' y1='17.286' x2='24.204' y2='10.724' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23833AB4' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23833AB4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint7_linear' x1='27.942' y1='12.113' x2='11.761' y2='28.294' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23833AB4'/%3E%3Cstop offset='.092' stop-color='%239C3495'/%3E%3Cstop offset='.293' stop-color='%23DC2546'/%3E%3Cstop offset='.392' stop-color='%23FD1D1D'/%3E%3Cstop offset='.559' stop-color='%23FC6831'/%3E%3Cstop offset='.689' stop-color='%23FC9B40'/%3E%3Cstop offset='.752' stop-color='%23FCAF45'/%3E%3Cstop offset='.781' stop-color='%23FDB750'/%3E%3Cstop offset='.866' stop-color='%23FECB6A'/%3E%3Cstop offset='.942' stop-color='%23FFD87A'/%3E%3Cstop offset='1' stop-color='%23FFDC80'/%3E%3C/linearGradient%3E%3CradialGradient id='paint0_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(8.2 34.957) scale(44.113)'%3E%3Cstop stop-color='%23FAE100'/%3E%3Cstop offset='.054' stop-color='%23FADC04'/%3E%3Cstop offset='.117' stop-color='%23FBCE0E'/%3E%3Cstop offset='.183' stop-color='%23FCB720'/%3E%3Cstop offset='.251' stop-color='%23FE9838'/%3E%3Cstop offset='.305' stop-color='%23FF7950'/%3E%3Cstop offset='.492' stop-color='%23FF1C74'/%3E%3Cstop offset='1' stop-color='%236C1CD1'/%3E%3C/radialGradient%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h40v40H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
//   background-size: contain;
//   display: inline-block;
//   background-repeat: no-repeat;
//   width: 40px;
//   height: 40px;
//   fill: $orange;
// }

.icon-phone {
  margin-right: 10px;
  fill: $orange;
  display: block;
}

.contacts__item {
  display: flex;
  justify-content: center;
}

.contacts__link {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M39.315 7.155a7.283 7.283 0 00-6.47-6.47 120.815 120.815 0 00-25.69 0 7.283 7.283 0 00-6.47 6.47 120.815 120.815 0 000 25.69 7.283 7.283 0 006.47 6.47c8.555.913 17.135.913 25.69 0a7.283 7.283 0 006.47-6.47c.913-8.555.913-17.135 0-25.69z' fill='url(%23paint0_radial)'/%3E%3Cpath d='M37.14 8.601a6.463 6.463 0 00-5.741-5.741 107.25 107.25 0 00-22.798 0A6.464 6.464 0 002.861 8.6c-.81 7.592-.81 15.206 0 22.797A6.463 6.463 0 008.6 37.14c7.592.81 15.206.81 22.797 0a6.463 6.463 0 005.742-5.74c.81-7.592.81-15.206 0-22.798z' fill='url(%23paint1_linear)'/%3E%3Cpath d='M.6 32.016c.027.277.055.553.085.83a7.283 7.283 0 006.47 6.47c8.555.912 17.136.912 25.69 0a7.283 7.283 0 006.47-6.47c.03-.277.058-.553.086-.83H.599z' fill='url(%23paint2_linear)'/%3E%3Cpath d='M39.315 32.845c.49-4.597.717-9.2.68-13.804l-9.142-9.143C29.71 8.594 28.042 7.78 26.08 7.709a172.25 172.25 0 00-12.108 0c-3.349.116-5.69 2.367-6.291 5.675-.106.585-.17 1.176-.253 1.765v9.699c.046.314.114.627.135.943.134 2.012.961 3.736 2.285 4.902l9.304 9.304c4.567.032 9.133-.195 13.693-.682a7.283 7.283 0 006.47-6.47z' fill='url(%23paint3_linear)'/%3E%3Cpath d='M39.315 32.846a7.283 7.283 0 01-6.47 6.47c-4.559.486-9.126.713-13.691.681l-9.29-9.29c1.077.943 2.48 1.517 4.11 1.578 4.03.152 8.076.148 12.107.002 3.647-.132 6.285-2.83 6.4-6.476a185.56 185.56 0 000-11.625c-.053-1.682-.643-3.162-1.622-4.282l9.137 9.137c.036 4.603-.19 9.208-.68 13.805z' fill='url(%23paint4_linear)'/%3E%3Cpath d='M24.72 15.669a6.407 6.407 0 10-9.051 9.051l14.823 14.823c.785-.068 1.57-.144 2.353-.228a7.284 7.284 0 006.47-6.47c.084-.784.16-1.568.228-2.353L24.72 15.67z' fill='url(%23paint5_linear)'/%3E%3Cpath d='M39.922 24.309l-11.93-11.93a1.524 1.524 0 10-2.133 2.133l13.85 13.851c.094-1.35.165-2.703.213-4.054z' fill='url(%23paint6_linear)'/%3E%3Cpath d='M7.429 15.149c.083-.589.147-1.18.253-1.764.6-3.309 2.942-5.56 6.291-5.675a172.25 172.25 0 0112.108 0c3.646.13 6.285 2.83 6.4 6.476a186.03 186.03 0 010 11.624c-.115 3.647-2.754 6.345-6.4 6.477-4.03.145-8.076.149-12.108-.002-3.645-.137-6.165-2.842-6.41-6.494-.02-.316-.088-.63-.134-.944V15.15zm12.574 14.977c1.845 0 3.692.055 5.535-.013 2.89-.107 4.666-1.831 4.734-4.718.083-3.596.083-7.197 0-10.794-.068-2.886-1.846-4.65-4.734-4.712a261.253 261.253 0 00-11 0c-2.866.06-4.648 1.789-4.726 4.643-.1 3.642-.1 7.29 0 10.932.078 2.854 1.86 4.543 4.726 4.649 1.82.068 3.643.013 5.465.013z' fill='url(%23paint7_linear)'/%3E%3Cpath d='M7.429 15.149c.083-.589.147-1.18.253-1.764.6-3.309 2.942-5.56 6.291-5.675a172.25 172.25 0 0112.108 0c3.646.13 6.285 2.83 6.4 6.476a186.03 186.03 0 010 11.624c-.115 3.647-2.754 6.345-6.4 6.477-4.03.145-8.076.149-12.108-.002-3.645-.137-6.165-2.842-6.41-6.494-.02-.316-.088-.63-.134-.944V15.15zm12.574 14.977c1.845 0 3.692.055 5.535-.013 2.89-.107 4.666-1.831 4.734-4.718.083-3.596.083-7.197 0-10.794-.068-2.886-1.846-4.65-4.734-4.712a261.253 261.253 0 00-11 0c-2.866.06-4.648 1.789-4.726 4.643-.1 3.642-.1 7.29 0 10.932.078 2.854 1.86 4.543 4.726 4.649 1.82.068 3.643.013 5.465.013z' fill='%23fff'/%3E%3Cpath d='M20 13.593a6.407 6.407 0 100 12.814 6.407 6.407 0 000-12.814zm0 10.608a4.2 4.2 0 110-8.402 4.2 4.2 0 010 8.402zM28.305 13.301a1.524 1.524 0 11-3.048 0 1.524 1.524 0 013.048 0z' fill='%23fff'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint1_linear' x1='15.342' y1='17.379' x2='-52.423' y2='-20.738' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23A1B5D8' stop-opacity='0'/%3E%3Cstop offset='.309' stop-color='%2390A2BD' stop-opacity='.31'/%3E%3Cstop offset='.755' stop-color='%237C8B9C' stop-opacity='.757'/%3E%3Cstop offset='1' stop-color='%23748290'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear' x1='20' y1='35.31' x2='20' y2='41.545' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FAE100' stop-opacity='0'/%3E%3Cstop offset='.307' stop-color='%23FCA800' stop-opacity='.306'/%3E%3Cstop offset='.627' stop-color='%23FE7300' stop-opacity='.627'/%3E%3Cstop offset='.869' stop-color='%23FF5200' stop-opacity='.867'/%3E%3Cstop offset='1' stop-color='%23FF4500'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear' x1='17.724' y1='17.668' x2='7.825' y2='7.769' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23833AB4' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23833AB4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint4_linear' x1='27.414' y1='36.585' x2='22.473' y2='13.292' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23833AB4' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23833AB4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint5_linear' x1='29.294' y1='29.294' x2='9.449' y2='9.449' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23833AB4' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23833AB4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint6_linear' x1='30.766' y1='17.286' x2='24.204' y2='10.724' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23833AB4' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23833AB4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint7_linear' x1='27.942' y1='12.113' x2='11.761' y2='28.294' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23833AB4'/%3E%3Cstop offset='.092' stop-color='%239C3495'/%3E%3Cstop offset='.293' stop-color='%23DC2546'/%3E%3Cstop offset='.392' stop-color='%23FD1D1D'/%3E%3Cstop offset='.559' stop-color='%23FC6831'/%3E%3Cstop offset='.689' stop-color='%23FC9B40'/%3E%3Cstop offset='.752' stop-color='%23FCAF45'/%3E%3Cstop offset='.781' stop-color='%23FDB750'/%3E%3Cstop offset='.866' stop-color='%23FECB6A'/%3E%3Cstop offset='.942' stop-color='%23FFD87A'/%3E%3Cstop offset='1' stop-color='%23FFDC80'/%3E%3C/linearGradient%3E%3CradialGradient id='paint0_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(8.2 34.957) scale(44.113)'%3E%3Cstop stop-color='%23FAE100'/%3E%3Cstop offset='.054' stop-color='%23FADC04'/%3E%3Cstop offset='.117' stop-color='%23FBCE0E'/%3E%3Cstop offset='.183' stop-color='%23FCB720'/%3E%3Cstop offset='.251' stop-color='%23FE9838'/%3E%3Cstop offset='.305' stop-color='%23FF7950'/%3E%3Cstop offset='.492' stop-color='%23FF1C74'/%3E%3Cstop offset='1' stop-color='%236C1CD1'/%3E%3C/radialGradient%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h40v40H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-size: contain;
  display: flex;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  fill: $orange;
  // display: inline-block;
  text-decoration: none;
}

.contacts__tel {
  font-family: 'Montserrat-SemiBold';
  letter-spacing: 0.08em;
  color: inherit;
  text-decoration: none;
  margin: 0;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .footer__logo {
    display: block;
    width: 84px;
    margin-left: auto;
    margin-right: auto;
    &:hover {
      background-color: $bgLogo;
      @include box-shadow-logo;
    }
  }
  .contacts__list {
    padding: 0;
    display: block;
    margin: 20px 0 0 0;
  }

  .contacts__tel {
    font-size: 14px;
    line-height: 17px;
    justify-content: center;
  }

  .contacts__item {
    margin-bottom: 30px;
  }

  .footer {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 0;
  }

  .footer__logo {
    display: inline-block;
    &:hover {
      background-color: $bgLogo;
      @include box-shadow-logo;
    }
  }
  .container--position {
    display: flex;
    align-items: center;
  }

  .contacts__item--border::before {
    content: '';
    width: 1px;
    height: 40px;
    background-color: rgba(185, 185, 185, 1);
    margin-right: 24px;
    margin-left: 24px;
    display: inline-flex;
  }

  .contacts__list {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
  }

  .contacts__tel {
    font-size: 20px;
    line-height: 24px;
  }

  .footer__contacts {
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1344px) {
  .container--position {
    justify-content: space-between;
  }
}

@media screen and (min-width: 1345px) {
  .footer {
    padding-top: 52px;
    padding-bottom: 0;
  }

  .footer__contacts {
    padding-bottom: 53px;
  }
  .contacts__list {
    margin-left: 290px;
    padding: 0;
  }

  .contacts__tel {
    font-size: 30px;
    line-height: 36px;
  }

  .icon-phone {
    width: 30px;
    height: 28px;
    margin-right: 15px;
  }

  .contacts__item--border::before {
    margin-left: 16px;
  }
}
