.hero {
  padding: 110px 0 60px;
  background-image: url(../images/wave.png);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: 15% 73%;
  background-size: 267% 118%;
  @include tablet {
    padding: 160px 0 120px;
    background-size: 100% 132%;
    background-position: 15% 85%;
  }
  @include desktop {
    padding: 225px 0 120px;
    background-position: 37% 85%;
  }
}

.hero__container {
  @include tablet {
    display: flex;
    margin-bottom: 22px;
    padding-left: 42px;
  }
  @include desktop {
    padding-left: 12px;
    position: relative;
  }
}

.hero__wrapper-content {
  @include desktop {
    width: 625px;
  }
}

.hero__title {
  text-align: left;
  margin-bottom: 30px;
  line-height: 136%;
  @include tablet {
    margin-bottom: 28px;
    line-height: 131%;
  }
  @include desktop {
    margin-bottom: 35px;
  }
}

.hero__text {
  font-size: 14px;
  line-height: 1.571;
  letter-spacing: 0.08em;
  margin: 0;
  &--garant {
    color: $black;
    font-weight: 700;
    @include desktop {
      display: inline-block;
    }
  }
  &--point {
    color: $orange;
    font-weight: 700;
    @include desktop {
      display: inline-block;
      margin-left: 11px;
    }
  }
  @include desktop {
    font-size: 20px;
    line-height: 164.9%;
  }
}

.hero__button {
  border: transparent;
  margin: 30px auto 30px;
  display: block;
  width: 260px;
  padding: 14px 10px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.08em;
  @include tablet {
    margin-left: 0;
  }
  @include desktop {
    font-size: 14px;
    margin: 35px auto 30px 0;
    padding: 25px 10px;
    width: 354px;
    height: 70px;
  }
}
.hero__button-link {
  //  display: block;
  // margin: 0 auto;
  // height: 48px;
  // background-color: #ff7409;
  // color: #ffffff;
  // border: none;
  // padding: 14px 10px;
  // text-transform: uppercase;
  // font-family: "Montserrat-Bold";
  // font-size: 12px;
  // line-height: 1.219;
  // letter-spacing: 0.08em;
  // cursor: pointer;
}

.hero__thumb {
  overflow: hidden;
  width: 72%;
  margin: 0 auto;
  @include tablet {
    margin-top: 14px;
    width: 400px;
    height: 316px;
  }
  @include desktop {
    position: absolute;
    width: 727px;
    height: 618px;
    right: 0px;
    top: -88px;
  }
}

.hero__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
