.methods {
  // padding-top: 50px;
  padding-bottom: 50px;
  // outline: 1px solid tomato;
  @media screen and (min-width: 1345px) {
    padding-top: 106px;
  }
}

// контейнер
.contanier {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-width: 480px) {
    width: 320px;
  }
  @media screen and (min-width: 768px) {
    width: 728px;
  }
  @media screen and (min-width: 1315px) {
    width: 1315px;
  }

  // outline: 1px solid teal;
}

.methods__contanier {
  // outline: 1px solid green;
}

// заголовок секции h2
.methods__title {
  margin-bottom: 30px;
  text-align: center;
  @media screen and (min-width: 1315px) {
    margin-bottom: 50px;
    text-align: left;
  }
}

// секция с методами
.methods__list {
  margin: 0;
  padding: 0;
  list-style: none;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(-1 * 20px);
    margin-left: calc(-1 * 20px);
  }
}

// карточка метода
.methods__item {
  display: block;
  margin-left: auto;
  margin-right: auto;

  padding-top: 30px;
  // padding-bottom: 22px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 280px;
  min-height: 280px;
  text-align: center;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  @media screen and (min-width: 768px) {
    // padding-bottom: 55px;
    padding-top: 40px;
    margin-left: 20px;
    margin-top: 20px;
    flex-basis: calc(100% / 2 - 20px);
    max-width: 334px;
    min-height: 334px;
  }
  @media screen and (min-width: 1315px) {
    padding-left: 30px;
    padding-right: 30px;
    flex-basis: calc(100% / 3 - 20px);
    max-width: 425px;
    min-height: 396px;
  }
}

@media screen and (max-width: 480px) {
  .methods__item:not(:last-child) {
    margin-bottom: 15px;
  }
}

.methods__item:hover,
.methods__item:focus {
  background-color: $orange;
  color: #ffffff;
  .methods__text {
    color: #ffffff;
  }
  .methods__text::before {
    background-color: #ffffff;
  }
  .methods__icon {
    fill: #ffffff;
  }
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// иконка карточки
.methods__icon {
  fill: $orange;
}

// название метода h3
.methods__name {
  margin-top: 20px;
  font-size: 14px;
  line-height: calc(20 / 14);
  @media screen and (min-width: 1315px) {
    display: block;
    margin-top: 20px;
    font-size: 20px;
    line-height: calc(28 / 20);
  }
}

// описание метода p
.methods__text {
  position: relative;
  margin-top: 42px;
  font-size: 12px;
  line-height: calc(20 / 12);
  @media screen and (min-width: 1315px) {
    display: block;
    margin-top: 42px;
    font-size: 18px;
    line-height: calc(28 / 18);
  }
}

// псевдо элемент
.methods__text::before {
  position: absolute;
  content: "";
  display: inline-flex;

  margin-left: auto;
  margin-right: auto;
  top: -20px;
  left: 0;
  right: 0;

  width: 20px;
  height: 2px;
  background-color: $orange;
}
