.methods {
  padding-top: 50px;
  padding-bottom: 50px;
  // outline: 1px solid tomato;
}

// контейнер
.contanier {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1315px) {
    width: 1315px;
  }

  // outline: 1px solid teal;
}

.methods__contanier {
  // outline: 1px solid green;
}

// заголовок секции h2
.methods__title {
  margin-bottom: 50px;
  text-align: center;
  @media screen and (min-width: 1315px) {
    text-align: left;
  }
}

// секция с методами
.methods__list {
  margin: 0;
  padding: 0;
  list-style: none;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(-1 * 20px);
    margin-left: calc(-1 * 20px);
  }
}

// карточка метода
.methods__item {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 22px;
  padding-left: 30px;
  padding-right: 30px;
  width: 280px;
  height: 280px;
  text-align: center;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 20px);
    width: 324px;
    height: 324px;
  }
  @media screen and (min-width: 1315px) {
    flex-basis: calc(100% / 3 - 20px);
    width: 424px;
    height: 396px;
  }
}

// иконка карточки
.methods__icon {
  fill: $orange;
}

// название метода h3
.methods__name {
  margin-top: 20px;
  font-size: 14px;
  line-height: calc(20 / 14);
  @media screen and (min-width: 1315px) {
    display: block;
    margin-top: 20px;
    line-height: calc(28 / 20);
  }
}

// описание метода p
.methods__text {
  position: relative;
  margin-top: 42px;
  font-size: 12px;
  line-height: calc(20 / 12);
  @media screen and (min-width: 1315px) {
    display: block;
    margin-top: 42px;
    line-height: calc(28 / 18);
  }
}

// псевдо элемент
.methods__text::before {
  position: absolute;
  content: "";
  display: inline-flex;

  margin-left: auto;
  margin-right: auto;
  top: -20px;
  left: 0;
  right: 0;

  width: 20px;
  height: 2px;
  background-color: $orange;
}
