.container {
  padding: 0 20px;
  @media (min-width: 768px) {
    padding: 0 40px;
  }
}

.problems {
  padding-top: 50px;
  padding-bottom: 50px;
  // border: 1px solid tomato;
  background: linear-gradient(to bottom, $blackLighter 72%, $white 28%);
  @media (min-width: 768px) {
    background: linear-gradient(to bottom, $blackLighter 64%, $white 36%);
  }
}

.problems__text-container {
  margin-bottom: 27px;
  @media (min-width: 768px) {
    width: 568px;
  }
}

.problems__text {
  font-family: $ffExtraBold;
  font-size: 20px;
  line-height: 1.36;
  letter-spacing: 0.03em;
  color: $white;

  &--color {
    color: $orange;
  }
  @media (min-width: 768px) {
    font-size: 26px;
    line-height: 1.3;
    padding-right: 118px;
  }
}

.problems__list {
  counter-reset: section;
  list-style-type: none;
  padding: 20px 14px 20px 30px;
  margin: 0;

  &-container {
    box-shadow: $problemListShadow;
    background-color: $white;
  }

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: 74px;
    margin-right: 109px;
    padding: 0 0 26px 0;
  }
}

.problems__list-item {
  font-family: $ffBold;
  font-size: 14px;
  line-height: 1.428;
  letter-spacing: 0.08em;
  position: relative;
  padding-top: 5px;
  margin-top: 10px;
  padding-top: 29px;

  &::before {
    counter-increment: section;
    content: '— ' counter(section, decimal-leading-zero);
    color: $orange;
    line-height: 1.214;
    position: absolute;
    top: 0;
    left: 0;
  }

  @media (min-width: 768px) {
    flex-basis: calc(100% / 2 - 22px);
    margin-top: 30px;
    margin-left: 22px;
  }
}
