.modal-menu__close-btn {
  position: relative;
  border: transparent;
  background-color: rgba(0, 0, 0, 0);
  height: 40px;
  width: 32px;
}

.modal-menu__close {
  &:before,
  &:after {
    content: '';
    position: absolute;
    display: block;
    height: 3px;
    width: 25px;
    background-color: $white;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
  .modal-menu__close-btn:hover > &:before,
  .modal-menu__close-btn:hover > &:after,
  .modal-menu__close-btn:focus > &:before,
  .modal-menu__close-btn:focus > &:after {
    background-color: $orange;
  }
}
