.modal-menu {
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 600px;
  padding-top: 24px;
  overflow-y: auto;
  overflow-x: hidden;
  background: $bgMobileModalMenu;
  opacity: 0.5;
  transform: perspective(600px) translate(0px, -80%) rotateX(61deg);
  transition: transform $cubicBezierMenu, opacity $cubicBezierMenu;
  @include tablet {
    padding-top: 42px;
  }
}

.modal-menu.is-open {
  opacity: 1;
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
}

@import './_close-btn';
@import './_top-line';
@import './_nav';
@import './_button';
